<h2>Our Mission and Core Themes</h2><h4><br />Vision</h4><p>Spokane Community College is a place where students transform their lives and attain their dreams in an unsurpassed learning
  environment that is personalized, engaging and affordable.</p><h4><br />Mission</h4><p>At Spokane Community College, we strive to provide our community accessible and affordable educational opportunities
  responsive to the needs of our diverse population. We do this through:</p><ul class="ul01"><li>Industry-standard, professional-technical certificate and degree programs;</li><li>Liberal arts and professional-technical programs transferable to four-year institutions;</li><li>Developmental and continuing education, distance learning, and lifelong learning opportunities;</li><li>Educational programs that emphasize four critical learning abilities: Responsibility, communication, problem-solving and global awareness; and</li><li>Instructional support and student services that enhance and promote student success.</li></ul><p>As we carry out this mission, our skilled and dedicated faculty, staff and administration continuously support the
  individual and professional growth of our students and the economic success of our region.</p><h4><br />Core Themes</h4><p><strong>Core Theme One: Workforce Development </strong><br />
  SCC's workforce certificate and degree programs are industry standard, preparing students for entry level
  positions in their discipline.
</p><ul><li><strong>Objective 1:</strong> Students enrolled in Workforce Education programs are well prepared for employment.
</li><li><strong>Objective 2:</strong> Students graduating from Workforce Education programs secure employment.
</li><li><strong>Objective 3:</strong>
  Students enrolled in Workforce Education programs are satisfied with their educational experience.
</li></ul><p><strong>Core Theme Two: Academic Transfer </strong><br />
  Students enrolled in Academic Transfer courses are well prepared and successful as they transfer their coursework and/or
  Associate degree in pursuit of the next step in their educational plan.
</p><ul><li><strong>Objective 1:</strong>
  Students who express an intent to transfer complete a degree.
</li><li><strong>Objective 2:</strong>
  Students who express an intent to transfer enroll at a 4-year baccalaureate.
</li><li><strong>Objective 3:</strong>
  Students are successful as they transfer to bachelor degree granting colleges and universities.
</li><li><strong>Objective 4:</strong>
  Students report that they have increased their knowledge and skills in SCC Student Abilities.
</li></ul><p><strong>Core Theme Three: Student Success </strong><br />
  Students are provided with the opportunity to succeed in a supported environment that enhances individual and professional
  growth through academic, personal, and professional development.
</p><ul><li><strong>Objective 1:</strong>
  Students transition successfully from developmental education to college-level work.
</li><li><strong>Objective 2:</strong>
  Students are provided services to assist their success in college courses.
</li><li><strong>Objective 3:</strong>
  Students are engaged with their learning environment and satisfied with their educational experience.
</li><li><strong>Objective 4:</strong>
  Students will progress towards educational benchmarks.
</li></ul><p><strong>Core Theme Four: Community Responsiveness </strong><br />
  Spokane Community College is responsive to the educational needs of our diverse community, contributing to its economic
  success.
</p><ul><li><strong>Objective 1:</strong>
  SCC provides access for diverse populations.
</li><li><strong>Objective 2:</strong>
  SCC’s Workforce Education program mix responds to student and regional economic needs.
</li><li><strong>Objective 3:</strong>
  SCC provides opportunities for students and the community to engage in social inquiry, develop a cultural understanding,
  and an appreciation for the humanities.
</li></ul><p>  </p></div></div><br clear="all" />
</div>
