/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}


html {
    font-size: 1em;
    line-height: 1.4;
    background-color:#333333;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
body{
  background-image: image-url("background.jpg")

}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#background{
    width: 100%;
    background-color: #0058a8;
    border-right: solid .15em #fc0;
    border-left: solid .15em #fc0;
}
/* Firefox Dotted Outline Fix */
a:active {
    outline: none;
}

/* Firefox Dotted Outline Fix */
a:focus {
    -moz-outline-style: none;
}

/****************
     Top Nav
 ****************/


/* Menu Body */
ul#menu {
    width: 1000px;
    height: 46px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;


}

/* Float LI Elements - horizontal display */
ul#menu li {
    float:left;
}

/* Link - common attributes */
ul#menu li a {
  background: asset_url('sprite.png') no-repeat scroll top left;
    display:block;
    height:40px;
    position:relative;
}

/* Specify width and background position attributes specifically for the class: "home" */
ul#menu li a.home {
    width:142px;
}

/* Specify width and background position attributes specifically for the class: "portfolio" */
ul#menu li a.portfolio {
    width:142px;
    background-position:-142px 0px;
}

ul#menu li a.community {
    width:142px;
    background-position:-284px 0px;
}

ul#menu li a.current {
    width:142px;
    background-position:-426px 0px;
}

ul#menu li a.employers {
    width:142px;
    background-position:-568px 0px;
}

ul#menu li a.faculty {
    width:142px;
    background-position:-710px 0px;
}
ul#menu li a.future {
    width:142px;
    background-position:-852px 0px;
}


/* Span (on hover) - common attributes */
ul#menu li a span {
  background: asset_url('sprite.png') no-repeat scroll bottom left;
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:100;
}

/* Span (on hover) - display pointer */
ul#menu li a span:hover {
    cursor:pointer;
}

/* Shift background position on hover for the class: "home" */
ul#menu li a.home:hover {
    background-position:0px -40px;
}

/* Shift background position on hover for the class: "portfolio" */
ul#menu li a.portfolio span {
    background-position:-142px -40px;
}
ul#menu li a.community span {
    background-position:-284px -40px;
}

ul#menu li a.current span {
    background-position:-426px -40px;
}

ul#menu li a.employers span {
    background-position:-568px -40px;
}

ul#menu li a.faculty span {
    background-position:-710px -40px;
}
ul#menu li a.future span {
    background-position:-852px -40px;
}

.navbar {
    margin-bottom: 0px;
}

.nav > li:hover {
    text-decoration: underline;
}

.navbar-inverse {
    /*background-color: #003366;*/
    background-color: #0058a8;
    border-bottom: solid .3em #fc0;
    border-right: solid .15em #fc0;
    border-left: solid .15em #fc0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fc0;
}

.navbar-inverse .navbar-nav > .active > a {
    text-decoration: underline;
}

.top-color {
    background-color:#333333;
    border-right: solid .15em #fc0;
    border-left: solid .15em #fc0;
}

.oval {
    background-color: #ccc;
    width: 55%;
    height: 75px;
    margin: 0px 88px 0px auto;
    padding-top: 5px;
    text-align: center;
    color: #222;

    /* top-right top-left bottom-left bottom-right */
    border-radius: 0 0 80% 80%/ 0 0 100% 100%;
    box-shadow: 0px 5px #fc0;
}

.oval h2 {
    margin-top: 10px;
}

.oval h2:last-child {
    display: none;
}

.navbar-custom-inverse {
    /*background-color: #003366;*/
    background-color: #0058a8;
    border-top: solid .3em #fc0;
    border-right: solid .15em #fc0;
    border-left: solid .15em #fc0;
}

.navbar-toggle {
    float: none;
}

/****************
   Main Content
 ****************/

.jumbotron {
    height: 330px;
    background-color: #ddd;
}

.main-image {
    width: 544px;
    margin: 10px auto;
}

.events {
    text-align: center;
    height: 200px;
    border: solid 1px black;
  height: 100%;
}

.events h2 {
    margin-top: 5px;
    border-bottom: solid 1px black;
}

div#main_content {
    width: 75%;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 5px;
  min-width: 210px;
}
div#featured {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 60%;
    margin-bottom: 3%;
}

.social_media_feeds {
  margin-top: 50px;
}

#social_media {
  position: fixed;
  bottom: 5px;
  right: 0;
  width: 120px;
  height: 45px;
  background-color: #fff;

  p {
    margin: 0;
    text-align: center;
    font-size: .75em;
  }

  img {
    margin: 0;
    padding: 0;
    z-index: 1;

  }
}

/****************
      Footer
 ****************/

.footer ul {
    float: right;
    margin: 20px;
    border-left: solid 1px #fc0;
}

.footer ul a {
    color: #fff;
}

address {
    float: left;
    margin: 20px;
    color: #fc0;
}

.footer_links {
  text-align: center;
  padding-top: 75px;
  color: white;

  a {
    color: white;
  }
}

/****************Media Queries*******************
 ************************************************/

@media (max-width: 550px) {
    .footer ul {
        float: none;
        margin: 10px auto;
        padding-top: 15px;
        border-top: solid 1px #fc0;
        border-left: none;
    }
    address {
        float: none;
        width: 200px;
        margin: 20px auto;
    }
}

@media (max-width: 595px) {
    .oval h2:first-child {
        display: none;
    }
    .oval h2:last-child {
        display: block;
        font-size: 4em;
    }
}

@media (max-width: 768px) {
    .nav > li {
        text-align: center;
    }
    .container > .navbar-header {
        margin: 0px;
    }
    .border_bottom {
        border-bottom: solid 1px #fc0;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
    .navbar-nav {
        float: right;
        margin-top: 5px;
    }

    .center-nav {
        text-align: center;
    }
    #menu2{
        display: none;
    }
}

@media (max-width: 795px) {
    .nav > li > a {
        padding: 10px 11px;
    }
}

@media (max-width: 830px) {
    .navbar-header {
        width: 100%;
        margin: 0;
    }
    .navbar-brand {
        float: none;
    }
    .scc_logo {
        text-align: center;
    }
    .oval {
        clear: both;
        margin: 0 auto;
    }
}

@media (max-width: 850px) {
    .oval h2 {
        margin-top: 2px;
    }
}

@media (min-width: 992px) {
    .oval {
        width: 55%;
    }
    h2 {
        margin-top: 15px;
    }

}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 1240px) {
    .caret {
        display: none;
    }
}

/* Top NAV Tall at 1055
   ================================================== */
@media only screen and (max-width: 1055px) {
    /* Firefox Dotted Outline Fix */
    a:active {
        outline: none;
    }

    /* Firefox Dotted Outline Fix */
    a:focus {
        -moz-outline-style: none;
    }

    /* Menu Body */
   ul#menu {
       width: 428px;
       height: 125px;
       list-style: none;
       margin: 0;
       padding: 0;
       padding-top: 3px;
       margin-right: auto;
       margin-left: auto;

    }

    /* Float LI Elements - horizontal display */
    ul#menu li {
        float:left;
    }

    /* Link - common attributes */
    ul#menu li a {
      background: asset_url('sprite2.png') no-repeat scroll top left;
        display:block;
        height:40px;
        position:relative;
    }

    /* Specify width and background position attributes specifically for the class: "home" */
    ul#menu li a.home {
        width:426px;
    }

        /* Specify width and background position attributes specifically for the class: "portfolio" */
    ul#menu li a.portfolio {
        width:142px;
        background-position:0px -80px;
    }

    ul#menu li a.community {
        width:142px;
        background-position:-142px -80px;
    }

    ul#menu li a.current {
        width:142px;
        background-position:-284px -80px;
    }

    ul#menu li a.employers {
        width:142px;
        background-position:-0px -160px;
    }

    ul#menu li a.faculty {
        width:142px;
        background-position:-142px -160px;
    }
    ul#menu li a.future {
        width:142px;
        background-position:-284px -160px;
    }


    /* Span (on hover) - common attributes */
    ul#menu li a span {
      background: asset_url('sprite2.png') no-repeat scroll bottom left;
        display:block;
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        z-index:100;
    }

    /* Span (on hover) - display pointer */
    ul#menu li a span:hover {
        cursor:pointer;
    }

    /* Shift background position on hover for the class: "home" */
    ul#menu li a.home span {
        background-position:0px -40px;
    }

       /* *//* Shift background position on hover for the class: "portfolio" */
    ul#menu li a.portfolio span {
        background-position:0px -120px;
    }

    ul#menu li a.community span {
        background-position:-142px -120px;
    }

    ul#menu li a.current span {
        background-position:-284px -120px;
    }

        ul#menu li a.employers span {
            background-position:0px -200px;
        }

        ul#menu li a.faculty span {
            background-position:-142px -200px;
        }
        ul#menu li a.future span {
            background-position:-284px -200px;
        }

}
/* Top NAV Tall at 1055
   ================================================== */


/* hide images when to small
   ================================================== */
@media only screen and (max-width: 575px) {
    div.orbit-wrapper{
        display: none;
    }

}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
@media only screen and (max-width: 575px) {
  div.orbit-wrapper{
    display: none;
  }

}
@media only screen and (max-width: 852px) {
  .fc-header-right{
    display: none;
  }

}
@media only screen and (max-width: 475px) {
  .fc-header-center h2{
    font-size: 15px;
  }

}
@media only screen and (max-width: 340px) {
  .fc-header-left{
    display: none;
  }

}
@media only screen and (max-width: 275px) {
  .scc_logo{
    display: none;
  }

}

.alert, .notice {
  margin-bottom: 0;
  padding: 0;
}

/* Site map stuff only !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Site map stuff only*/
#sitemap li {margin-top:6px;}
#sitemap li {list-style-type:none; width:110px;}
#sitemap  li:hover { list-style-type:square; }
#sitemap a:hover {color:blue; text-decoration:none;}
#sitemap a {text-decoration:none;}
.indentlinks{text-indent:20px; }
/* Site map stuff only !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Site map stuff only*/
.ui-widget-header {
  text-align: center;

  button {
    display: none;
  }
}

#new_event_dialog {
  padding: 20px;

  .form-group {
    input, textarea {
      width: 100%;
    }
  }
}

.ui-dialog-buttonpane {
  text-align: center;

  button {
    width: 30%;
  }
}
